{% extends 'base.html' %}

{% block head %}

    {% block title %}{% endblock %}

{% endblock %}

{% block body %}

        <div class="container" >
            <form method="POST" class="form">
                <h2>Sign In</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                </div>
                <br />
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                </div>
                <br />
                <button type="submit" class="btn">Sign In</button>
                <div class="redirect">
                    <a href="/sign-up">Create</a>
                    &#160;an account
                </div>
            </form>
        </div>


{% endblock %}