.container {
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: auto;
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: auto;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}


.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

/* Define a class for buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
.btn:hover {
    background-color: #0056b3;
}

button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
}

/* Styles for success alert */
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Styles for error alert */
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Close button styles */
.close-btn {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: red;
}

.redirect {
    padding: 1em;
    display: flex;
    justify-content: center;
    font-size: 0.5rem;
    color: #007bff; /* Blue color for the link */
    text-decoration: none; /* Remove default underline */
    font-weight: bold; /* Make the text bold */
    transition: color 0.3s ease; /* Smooth color transition on hover */

    /* Optionally, you can add other styles like padding, margin, etc. */
}

/* Hover effect for the redirect class */
.redirect:hover {
    color: #0056b3; /* Darker blue color on hover */
}